body {
	color: #404040;
}
body p {
	margin: 40px;
}
#footer {
	background-color: #f2f2f2;
	width: 100%;
	height: 150px;
	opacity: 0.5;
}
#footer p {
	text-align: center;
	padding-top: 20px;
}
p span {
	color: #ff8200;
	font-size: 20px;
}