body {
	padding: 0;
	margin: 0;
	color: #404040;
}
#roastBotImg{
	margin-top: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 50%;
}
@media (min-width: 1200px) {
	#roastBotImg {
		width: 450px;
		height: 450px;
		margin-top: 10%;
	}
}
#mainText{
	text-align: center;
	margin: 20px;
	color: #333333;
}
#mainText a{
	color: #3399ff;
	text-decoration: none;
}
#footer {
	background-color: #f2f2f2;
	width: 100%;
	height: 125px;
	opacity: 0.5;
}
#footer p {
	text-align: center;
	padding-top: 40px;
}
/*
#images {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#footer div img {
	width: 40px;
	height: 40px;
	margin-left: 10px;

}
#footer div img:nth-child(2) {
	border-radius: 50%;
	width: 42px;
	height: 42px;
}
*/