body {
	padding: 0;
	margin: 0;
}
#roastBotImg{
	margin-top: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 50%;

}
@media (min-width: 1200px) {
	#roastBotImg {
		width: 450px;
		height: 450px;
		margin-top: 10%;
	}
}
#mainText{
	text-align: center;
	margin: 20px;
	color: #333333;
}
#mainText a{
	color: #3399ff;
	text-decoration: none;
}